
@{
    ViewBag.Title = "Error message";
}
<h3>
    An occured while proccessing your request.
    The support team is notified and we are working on the fix
</h3>
<h5>Please contact us on SneakerShop4dmin@yandex.ru</h5>
<hr />
<h3>Exception details</h3>
<div class="alert alert-danger">
    <h5>Exception message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>