@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Roles List";
}

<table class="table table-hover table-bordered table-light" style="font-size:1.5rem;font-weight:600; border-spacing:7px 11px">
    <tr>
        <th>Name</th>
        <th style="text-align:center;"><a asp-controller="Role" asp-action="Add" class="btn btn-dark active" role="button" aria-pressed="true">Add role</a></th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td style="width:50px">
                <a asp-controller="Role" asp-action="Remove" asp-route-id="@role.Id" class="btn btn-dark active">Remove</a>
            </td>
        </tr>
    }
</table>
